
#clientes.section {

    background-size: 60%;
    background-color:black;
    background-position: Right;
    background-repeat: no-repeat;
    height: 65vh; /*@media*/
}

.slider-track{
    height: 350px; /*@media*/
}

.slider {
    /* position: relative;
    top: 100px; */
    width: 96vw;
    margin: auto;
    overflow: hidden;
    
}

.slide {
    background-color:transparent;
    width: 350px; /*@media*/
    height: 350px;/*@media*/
    overflow: hidden;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
 
}
.slider .slider-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(350px*34); /*@media*/
    -webkit-animation: scroll 40s linear infinite;
    overflow: visible;
}

#clientes a:hover{
    background-color: black;
    
}

.slide:hover {
    background-color: black;
    outline: none;
    transform: translateY(-10px) scale(0.9);
}
.slider .slide {
    width: 350px; /*@media*/
    height: 350px; /*@media*/
}

.slider .slide img {
    width: 100%;
}



@keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 17));
        -webkit-transform: translateX(calc(-200px * 17));
    }

}

@media (max-width: 1200px ){
    #clientes.section {
        height: 60vh; /*@media*/
    }
    .slider-track{
        height: 300px; /*@media*/
    }
    .slide {
        width: 300px; /*@media*/
        height: 300px;/*@media*/
    }
    .slider .slider-track {
       width: calc(300px*34); /*@media*/
    }
    .slider .slide {
        width: 300px; /*@media*/
        height: 300px; /*@media*/
    } 

}
@media (max-width: 900px ){
    #clientes.section {
        height: 40vh; /*@media*/
    }
    .slider-track{
        height: 200px; /*@media*/
    }
    .slide {
        width: 200px; /*@media*/
        height: 200px;/*@media*/
    }
    .slider .slider-track {
       width: calc(200px*34); /*@media*/
    }
    .slider .slide {
        width: 200px; /*@media*/
        height: 200px; /*@media*/
    } 
}
@media (max-width: 400px ){
    #clientes.section {
        height: 22vh; /*@media*/
    }
    .slider-track{
        height: 100px; /*@media*/
    }
    .slide {
        width: 100px; /*@media*/
        height: 100px;/*@media*/
    }
    .slider .slider-track {
       width: calc(100px*34); /*@media*/
    }
    .slider .slide {
        width: 100px; /*@media*/
        height: 100px; /*@media*/
    } 


    
}