footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}




#icono-insta a.instagram {
    background-color: black;
    font-size: 50px;
    color: white;
    
}

#icono-insta a.instagram:hover {
    color: #E1306C;
    
}

#footer-text {
    color: white;
}

#nomb-footer {
    font-family: russo one;
    font-size: 30px;
    font-weight: 200px;
}

@media (max-width: 768px){
   
#icono-insta a.instagram {
   font-size: 25px;
}
#nomb-footer {
    font-family: russo one;
    font-size: 15px;
    font-weight: 200px;
}
footer{
    font-size: 8px;
}
}