nav {
    background-color: black;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

}

label.logo {
    color: white;
    font-family: russo one;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}


nav ul li a {

    color: white;

    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;

}

a.active,
a:hover {

    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    display: none;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
}

#check {
    display: none;
}

@media (max-width: 1200px) {
    .checkbtn {
        
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
    }

    
    .checkbtn {
        display: block;
    }
    
    ul {
        position: fixed;
        width: 15vw; /* Puedes cambiar a porcentaje */
        height: 42vh; /* Puedes cambiar a porcentaje */
        background: #2c3e50;
        top: 80px;
        right: -70%; /* Puedes cambiar a porcentaje */
        text-align: center;
        transition: .9s;
        border-radius: 10%;
        
    }
    
    nav ul li {
        
       
        display: block;
        margin: 8%; /* Puedes cambiar a porcentaje */
        line-height: 6vh; /* Puedes cambiar a porcentaje o em */
    }
    
    nav ul li a {
        text-align: center;
        font-size: 1.8vw; /* Puedes cambiar a porcentaje o em */
    }
    
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    
    #check:checked~ul {
        right: 0;
    }
    
    
    
}

@media (max-width: 900px) {
    

    
    .checkbtn {
        display: block;
    }
    
    ul {
        position: fixed;
        width: 15vw; /* Puedes cambiar a porcentaje */
        height: 30vh; /* Puedes cambiar a porcentaje */
        background: #2c3e50;
        top: 80px;
        right: -70%; /* Puedes cambiar a porcentaje */
        text-align: center;
        transition: .9s;
        border-radius: 10%;
        
    }
    
    nav ul li {
        
       
        display: block;
        margin: 8%; /* Puedes cambiar a porcentaje */
        line-height: 4vh; /* Puedes cambiar a porcentaje o em */
    }
    
    nav ul li a {
        text-align: center;
        font-size: 1.8vw; /* Puedes cambiar a porcentaje o em */
    }
    
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    
    #check:checked~ul {
        right: 0;
    }
    
    
    
}

@media (max-width: 400px) {
    nav {
        height: 40px;
    }
    label.logo {
        
        font-size: 25px;
        line-height: 40px;
        padding: 0 100px;
        font-weight: bold;
    }
    
    .checkbtn {
        display: block;
    }
    
    ul {
        position: fixed;
        width: 20vw; /* Puedes cambiar a porcentaje */
        height: 18vh; /* Puedes cambiar a porcentaje */
        background: #2c3e50;
        top: 40px;
        right: -70%; /* Puedes cambiar a porcentaje */
        text-align: center;
        transition: .9s;
        border-radius: 10%;
        
    }
    
    nav ul li {
        
       
        display: block;
        margin: 8%; /* Puedes cambiar a porcentaje */
        line-height: 2vh; /* Puedes cambiar a porcentaje o em */
    }
    
    nav ul li a {
        text-align: center;
        font-size: 1.8vw; /* Puedes cambiar a porcentaje o em */
    }
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 40px;
        margin-right: 40px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    
    #check:checked~ul {
        right: 0;
    }
    
    
    
}