nav {
    background-color: black;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

}

label.logo {
    color: white;
    font-family: russo one;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}


nav ul li a {

    color: white;

    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;

}

a.active,
a:hover {

    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
}

#check {
    display: none;
}

@media (max-width: 1366px) {
    

    
    .checkbtn {
        display: block;
    }
    
    ul {
        position: fixed;
        width: 25%; /* Puedes cambiar a porcentaje */
        height: 30%; /* Puedes cambiar a porcentaje */
        background: #2c3e50;
        top: 80px;
        right: -70%; /* Puedes cambiar a porcentaje */
        text-align: center;
        transition: .9s;
        border-radius: 10%;
        
    }
    
    nav ul li {
        width: 15%;
        height: 10%;
        
        display: block;
        margin: 8%; /* Puedes cambiar a porcentaje */
        line-height: 1.5em; /* Puedes cambiar a porcentaje o em */
    }
    
    nav ul li a {
        text-align: center;
        font-size: 1.5em; /* Puedes cambiar a porcentaje o em */
    }
    
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    
    #check:checked~ul {
        right: 0;
    }
    
    
    
}

@media (max-width: 768px) {
    

    
    .checkbtn {
        display: block;
    }
    
    ul {
        position: fixed;
        width: 15%; /* Puedes cambiar a porcentaje */
        height: 14%; /* Puedes cambiar a porcentaje */
        background: #2c3e50;
        top: 80px;
        right: -70%; /* Puedes cambiar a porcentaje */
        text-align: center;
        transition: .9s;
        border-radius: 10%;
        
    }
    
    nav ul li {
        width: 9%;
        height: 12%;
        
        display: block;
        margin: 10%; /* Puedes cambiar a porcentaje */
        line-height: 1.5em; /* Puedes cambiar a porcentaje o em */
    }
    
    nav ul li a {
        text-align: center;
        font-size: 0.5em; /* Puedes cambiar a porcentaje o em */
    }
    
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    
    #check:checked~ul {
        right: 0;
    }
    
    
    
}
